<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hand_Digits_Recognition</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <p >Hand Digits Recognition <br><span class="auto-type"></span> </p>
        <img src="https://miro.medium.com/max/1000/1*mMGXLUM1_7vNaZUVm3sTVQ.png" alt="Error loading in image" style="border :4px solid white; border-radius:50px; margin:50px">
        <div id="bttn-div">
            <!-- <a href="mnist.html"><button class="predict1">Predict MNIST</button></a> -->
            <a href="/mnist"><button class="predict1">Predict MNIST</button></a>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script>
        var typed=new Typed(".auto-type",{strings:["Mini Project","VI Semester","Graphic Era Deemed University"],typeSpeed:150,backSpeed:150,loop:true})
    </script>
</body>
</html>